<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ mix('resources/css/app.css') }}">
  <title>Wavent</title>
  {{ routes() }}
</head>

<body class="font-sans antialiased leading-none text-base-content">
  <div id="app" data-page="{{ page | safe }}"></div>
  <script src="{{ mix('resources/js/app.js') }}" difer></script>
</body>

</html>